.number-style {
    font-size: 400px;
    font-weight: 800;
  }

  .bg-image {
    background-image: url('/iafbackdrop2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .number-style {
    font-size: 450px;
    font-weight: 800;
  }